m4/*
*.[ao]
*.exe
*.lo
*.la
*.trs
*.log
.libs
libtool
ltmain.sh
.deps
test-driver
tests/mutable_string_new_len
src/configure.h
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
compile
autom4te.cache
configure
depcomp
install-sh
vector
missing
stamp-h1
*~
libobject-*.tar.gz
.*.swp
doc/doxy
